html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #1b2939;
    font-family: "Motiva Sans", Sans-serif;
    position: relative;
    overflow-y: scroll;
    
}
/* #root {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    min-width: 940px;
} */

#flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
}

.body-wrapper {
    flex: 1;
    top: 104px;
    bottom: 152px;
    right: auto;
    left: auto;
    width: 100%;
    margin: 0 auto;
    /* position: absolute; */
}

#global-footer {
    flex: 2;
    width: 100%;
    margin-top: 62px;
    /* bottom: 0;
    position: absolute; */
    min-height: 152px;
    background: #0f1922;
}