html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(170deg, rgb(1, 70, 95), #000d24);
    font-family: "Motiva Sans", Sans-serif;
    position: relative;
    overflow-y: scroll;
    
}
/* #root {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    min-width: 940px;
} */

#flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
}

.body-wrapper {
    flex: 1;
    right: auto;
    left: auto;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    /* position: absolute; */
}

#global-footer {
    flex: 2;
    width: 100%;
    margin-top: 62px;
    /* bottom: 0;
    position: absolute; */
    min-height: 100px;
    /* background: #0f1922; */
    background: #0b0c0f
}

.first-row-purchase-page {
    flex: 1;
    display: block;
}

.second-row-purchase-page {
    flex: 2;
    display: block;
}

.third-row-purchase-page {
    flex: 3;
    display: block;
}

.fourth-row-purchase-page {
    flex: 4;
    display: block;
}

#background-image-purchase-page {
    position: absolute;
    z-index: 0;
    overflow: hidden;
    opacity: 0.6;
    background-color: rgb(4, 125, 206);
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
    from(rgba(4, 125, 206, 0.952)), to(rgba(4, 125, 206, 0)));
}

#background-image-purchase-page img {
    width: 1500px;
    z-index: -2;
    opacity: 0.65;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
    from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}