.thumbnail-scrollbar {
    /* overflow-x: scroll; */
    height: 90px;
    /* width:100%; */
    width: 100%;
    /* padding: 0 15px; */
    display: flex;
    flex-direction: row;
    /* display: inline-block;; */
    overflow-x: auto;
    white-space: nowrap;
    background-color: #0b1116;
    overflow-y: hidden;
}

.thumbnail-scrollbar > li {
    max-width: 115px;
    height: 65px;
    position: relative;
    left: 5px;
    top: 3px;
    margin-left: 2px;
    margin-right: 2px;
    background-size: cover;
    background-repeat: no-repeat;
}

.thumbnail-scrollbar::-webkit-scrollbar {
    height: 18px;
    color: black;
    background-color: #0f131b;
}

.thumbnail-scrollbar::-webkit-scrollbar-thumb {
    background-color: #18232D;
    max-width: 30px;
    border-radius: 3px;
}


.thumbnail-button {
    
    height: 65px;
    width: 115px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    position: relative;
    right: 24px;
    bottom: 2px;
}

#game-display-big-picture {
    width: 100%;
    height: 330px;
    object-fit: fill;
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    z-index: -1;
}

#left-column-game-display-wrapper {
    width: 616px;
    height: 450px;
}
.thumbnail-button:focus {
	position: relative;
	background-image: url('https://steamstore-a.akamaihd.net/public/images/v5/game_highlight_activethumb.png');
	width: 116px;
    height: 100px;
    bottom: 15px;
    z-index: 500;
}