.thumbnail-scrollbar {
    /* overflow-x: scroll; */
    height: 90px;
    /* width:100%; */
    width: 100%;
    /* padding: 0 15px; */
    display: flex;
    flex-direction: row;
    /* display: inline-block;; */
    overflow-x: auto;
    white-space: nowrap;
    background-color: #0b1116;
    overflow-y: hidden;
}

.thumbnail-scrollbar > li {
    max-width: 115px;
    height: 65px;
    position: relative;
    left: 5px;
    top: 3px;
    margin-left: 2px;
    margin-right: 2px;
    background-size: cover;
    background-repeat: no-repeat;
}

.thumbnail-scrollbar::-webkit-scrollbar {
    height: 18px;
    color: black;
    background-color: #0f131b;
}

.thumbnail-scrollbar::-webkit-scrollbar-thumb {
    background-color: #18232D;
    max-width: 30px;
    border-radius: 3px;
}


.thumbnail-button {
    height: 65px;
    width: 115px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    position: relative;
    right: 24px;
    bottom: 2px;
}

#game-display-big-picture {
    width: 100%;
    height: 330px;
    object-fit: fill;
    display: block;
    margin-bottom: 10px;
    z-index: -1;
}

#left-column-game-display-wrapper {
    width: 600px;
    height: 450px;
    display: inline-block;
}

/* .thumbnail-button:focus {
	position: relative;
	background-image: url('https://steamstore-a.akamaihd.net/public/images/v5/game_highlight_activethumb.png');
	width: 116px;
    height: 100px;
    bottom: 15px;
    z-index: 500;
} */

#right-column-game-display-wrapper {
    width: 324px;
    height: 407px;
    display: inline-block;
    margin-left: 16px;
}

.top-row-center-horizontally {
    margin: 0 auto;
    width: 940px;
}

.game-name-purchase-page {
    font-size: 26px;
    margin-bottom: 8px;
}

#title-picture-display {
    width: 324px;
    height: 151px;

    object-fit: fill;
    margin-bottom: 7px;
}

#right-side-info-box {
    height: 259px;
    width: 324px;
    position: absolute;
}

#right-side-info-paragraph {
    max-height: 123px;
    overflow: hidden;
    font-size: 13px;
    line-height: 18px;
    padding-right: 16px;
    color: #c6d4df;
}

#game-top-row-background {
    max-height: 488px;
}

.right-side-info-row {
    width: 324px;
    height: 16px;
    display: block;
}

.right-side-info-row-subtitle {
    width: 94px;
    height: 16px;
    padding-right: 10px;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 16px;
    color: #556772;
    display: inline-block;
}

.right-side-info-row-info-wrapper {
    height: 16px;
    font-size: 12px;
    display: inline-block;
}

.right-side-info-row-info-bluetext {
    color: #66C0F4;
    line-height: 16px;
    display: inline-block;
}

.right-side-info-row-info-redtext {
    color: #A34C25;
    line-height: 16px;
  
}

.right-side-info-row-graytext {
    color: #556772;
    display: inline-block;
    margin-left: 3px
}

.right-side-info-row-date {
    color: #8f98a0;
    line-height: 16px;
    font-size: 12px;
}

#game-top-row-background {
    background-image: url('https://steamstore-a.akamaihd.net/public/images/v6/app/game_page_background_shadow.png?v=2');
    background-position: bottom;
    padding-bottom: 1px;
    background-repeat: no-repeat;
    margin: 0px auto;

}
