.storefront-grid-wrapper {
    margin-top: 50px;
    margin-bottom: 13px;
}

.storefront-grid {
    display: flex;
    flex-wrap: wrap;
}

.grid-item {
    width: 303px;
    height: 175px;
    margin-right: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.grid-item-game-picture {
    width: 303px;
    height: 141px;
    display: block;
}

.grid-item-lower-bar {
    width: 303px;
    height: 32px;
    display: block;
    background: linear-gradient( 135deg, rgba(37,49,63,1) 5%,rgba(54,97,125,1) 95%);  
}   

.grid-item-price {
    color: #acdbf5;
    text-align: right;
    line-height: 15px;
    font-size: 14px;
    position: relative;
    top: 10px;
    right: 7px;
}

.storefront-grid-wrapper h2 {
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 10px;
    letter-spacing: 2px;
    font-weight: normal;
    padding-top: 2px;
}

.storefront-carousel-one-wrapper {
    width: 1030px;
    height: 353px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.storefront-carousel-one-dir-button-right {
    width: 45px;
    height: 108px;
    cursor: pointer;
    background: linear-gradient( to right, rgba( 0, 0, 0, 0) 5%,rgba( 0, 0, 0, 0.3) 95%);
    position: relative;
    top: 122px;
}

.storefront-carousel-one-dir-button-left {
    width: 45px;
    height: 108px;
    cursor: pointer;
    background: linear-gradient( to right, rgba( 0, 0, 0, 0.3) 5%,rgba( 0, 0, 0, 0) 95%);
    position: relative;
    top: 122px;
}

.storefront-carousel-one-dir-button-left:hover {
    background: linear-gradient( to right, rgba( 171, 218, 244, 0.3) 5%,rgba( 171, 218, 244, 0) 95%);
}

.storefront-carousel-one-dir-button-right:hover {
    background: linear-gradient( to right, rgba( 171, 218, 244, 0) 5%,rgba( 171, 218, 244, 0.3) 95%);
}

.storefront-carousel-one-title {
    line-height: 26px;
    font-size: 23px;
    position: relative;
    top: 30px;
    left: 7px;
    vertical-align: center;
}

.storefront-carousel-one-content-box {
    color: #fff;
    width: 940px;
    height: 353px;
    cursor: pointer;
    background: url('https://steamstore-a.akamaihd.net/public/images/v6/home/background_maincap_2.jpg');
    background-repeat: no-repeat;
    background-position: right;
    box-sizing: border-box;
    box-shadow: 3px 3px black;
    border-radius: 2px;
}

.storefront-carousel-one-big-photo-box {
    width: 616px;
    height: 353px;
    margin-right: 10px;
    display: inline-block;
    box-shadow: 2px 2px black;
}

.storefront-carousel-one-big-actual-photo {
    height: 353px;
}

.storefront-carousel-one-right-column {
    width: 314px;
    height: 353px;
    display: inline-block;
    position: relative;
    bottom: 100px;
}

.storefront-carousel-one-thumbnails-box {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 55px;
    left: 5px;
}

.storefront-carousel-one-thumbnail {
    width: 148px;
    height: 63px;
    overflow: hidden;
    opacity: 0.6;
    border-radius: 2px;
}

.storefront-carousel-one-thumbnail:hover {
    opacity: 1;
}

.storefront-carousel-one-left-arrow {
    background-position-x: 23px;
    background-image: url('https://steamstore-a.akamaihd.net/public/images/v6/arrows.png');
    width: 23px;
    height: 36px;
    position: relative;
    top: 36px;
    left: 11px;
}

.storefront-carousel-one-right-arrow {
    background-image: url('https://steamstore-a.akamaihd.net/public/images/v6/arrows.png');
    width: 23px;
    height: 36px;
    position: relative;
    top: 36px;
    left: 11px;
}

.storefront-carousel-one-now-available {
    position: relative;
    top: 82px;
    font-size: 18px;
    font-weight: 300;
    left: 7px;
}

.storefront-carousel-one-price {
    position: relative;
    top: 63px;
    left: 250px;
    color: #acdbf5;
    font-size: 13px;
}