.storefront {
    display: flex;
    flex-direction: column;
}

.storefront-carousel-one-wrapper-one {
    max-width: 1040px;
    flex: 1;
    margin: 0 auto;
    display: block;
}

.storefront-grid-wrapper {
    margin-bottom: 13px;
    flex: 2;
    z-index: 0;
}

.storefront-grid {
    display: flex;
    flex-wrap: wrap;
}

.grid-item-wrapper {
    position: static;
    z-index: 0;
}

.grid-item {
    width: 303px;
    height: 175px;
    margin-left: 4px;
    margin-right: 6px;
    margin-top: 5px;
    margin-bottom: 15px;
    cursor: pointer;
    box-shadow: 2px 2px 2px black;
    position: static;
    z-index: 0;
}

.grid-item-hovered {
    margin-left: 1px;
    margin-right: 2px;
    margin-top: 3px;
    margin-bottom: 11px;
    cursor: pointer;
    width: 308px;
    height: 179px;
    border: 1px groove rgb(0, 116, 194);
}

.grid-item-game-picture {
    width: 303px;
    height: 141px;
    display: block;
    position: static;
    z-index: 0;
}

.grid-item-game-picture-hovered {
    width: 308px;
    height: 144px;
    display: block;
    position: static;
    z-index: 0;
}

.grid-item-lower-bar {
    width: 303px;
    height: 32px;
    display: block;
    background: linear-gradient( 135deg, rgb(45, 57, 70) 5%,rgb(25, 49, 65) 95%); 
    position: static;
    z-index: 0; 
}   

.grid-item-lower-bar-hovered {
    width: 308px;
    height: 35px;
    display: block;
    position: static;
    background: linear-gradient( 135deg, rgb(65, 120, 179) 5%,rgb(0, 116, 194) 95%);
    z-index: 0;
}

.grid-item-price {
    color: #c7e6f7;
    text-align: right;
    line-height: 15px;
    font-size: 14px;
    font-weight: 500;
    position: static;
    top: 10px;
    right: 7px;
    position: relative;
    z-index: 0;
}

.storefront h2 {
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: normal;
    padding-top: 2px;
    display: block;
    max-width: 940px;
}

.storefront-carousel-one-wrapper-two {
    width: 1030px;
    height: 353px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.storefront-carousel-one-dir-button-right {
    width: 45px;
    height: 108px;
    cursor: pointer;
    background: linear-gradient( to right, rgba( 0, 0, 0, 0) 5%,rgba( 0, 0, 0, 0.3) 95%);
    position: relative;
    top: 122px;
}

.storefront-carousel-one-dir-button-right.paused {
    background: linear-gradient( to right, rgba( 171, 218, 244, 0) 5%,rgba( 171, 218, 244, 0.3) 95%);
}

.storefront-carousel-one-dir-button-left {
    width: 45px;
    height: 108px;
    cursor: pointer;
    background: linear-gradient( to right, rgba( 0, 0, 0, 0.3) 5%,rgba( 0, 0, 0, 0) 95%);
    position: relative;
    top: 122px;
}

.storefront-carousel-one-dir-button-left.paused {
    background: linear-gradient( to right, rgba( 171, 218, 244, 0.3) 5%,rgba( 171, 218, 244, 0) 95%);
}

.storefront-carousel-one-dir-button-left:hover {
    background: linear-gradient( to right, rgba( 171, 218, 244, 0.3) 5%,rgba( 171, 218, 244, 0) 95%);
}

.storefront-carousel-one-dir-button-right:hover {
    background: linear-gradient( to right, rgba( 171, 218, 244, 0) 5%,rgba( 171, 218, 244, 0.3) 95%);
}

.storefront-carousel-one-title {
    line-height: 26px;
    font-size: 23px;
    position: relative;
    top: 30px;
    left: 7px;
    vertical-align: center;
}

.storefront-carousel-one-content-box {
    color: #fff;
    width: 940px;
    height: 353px;
    cursor: pointer;
    background: url('https://steamstore-a.akamaihd.net/public/images/v6/home/background_maincap_2.jpg');
    background-repeat: no-repeat;
    background-position: right;
    box-sizing: border-box;
    box-shadow: 4px 4px 3px black;
    border-radius: 2px;
}

.storefront-carousel-one-big-photo-box {
    width: 616px;
    height: 353px;
    margin-right: 10px;
    display: inline-block;
    box-shadow: 2px 2px black;
}

.storefront-carousel-one-big-actual-photo {
    height: 353px;
}

.storefront-carousel-one-right-column {
    width: 314px;
    height: 353px;
    display: inline-block;
    position: relative;
    bottom: 100px;
}

.storefront-carousel-one-thumbnails-box {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 55px;
    left: 5px;
}

.storefront-carousel-one-thumbnail {
    width: 148px;
    height: 63px;
    overflow: hidden;
    opacity: 0.5;
    border-radius: 2px;
}

.storefront-carousel-one-thumbnail:hover {
    opacity: 1;
}

.storefront-carousel-one-left-arrow {
    background-position-x: 23px;
    background-image: url('https://steamstore-a.akamaihd.net/public/images/v6/arrows.png');
    width: 23px;
    height: 36px;
    position: relative;
    top: 36px;
    left: 11px;
}

.storefront-carousel-one-right-arrow {
    background-image: url('https://steamstore-a.akamaihd.net/public/images/v6/arrows.png');
    width: 23px;
    height: 36px;
    position: relative;
    top: 36px;
    left: 11px;
}

.storefront-carousel-one-now-available {
    position: relative;
    top: 82px;
    font-size: 18px;
    font-weight: 250;
    left: 7px;
}

.storefront-carousel-one-price {
    position: relative;
    top: 63px;
    left: 250px;
    color: #acdbf5;
    font-size: 16px;
    max-width: 55px;
}

.storefront-carousel-bottom-squares-wrapper {
    width: 940px;
    margin: 0 auto;
    height: 30px;
    display: block;
    text-align: center;
}

.storefront-carousel-bottom-square-box {
    margin: 0 auto;
    cursor: pointer;
    display: inline;
    position: relative;
    top: 10px;
}

.storefront-carousel-bottom-square-regular {
    display: inline-block;
    height: 12px;
    width: 18px;
    border-radius: 3px;
    background-color: hsla(202,60%,100%,0.2);
    cursor: pointer;
    margin-right: 2px;
    margin-left: 2px;
}

.storefront-carousel-bottom-square-regular:hover {
    display: inline-block;
    border-radius: 3px;
    background-color: rgb(0, 116, 194);
}

.storefront-carousel-bottom-square-highlighted {
    display: inline-block;
    height: 15px;
    width: 20px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.404);
    cursor: pointer;
    margin-right: 2px;
    margin-left: 2px;
    position: relative;
    top: 1px;
}

.storefront-carousel-bottom-square-highlighted.paused {
    background-color: rgb(0, 116, 194);
}

/* .grid-popup-wrapper {
    position: absolute;
    z-index: 500;
}

.grid-popup-triangle {
    width: 0; 
    height: 0; 
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    position: relative;
    bottom: 130px;
    z-index: 500;
}

.grid-popup-triangle.right {
    border-left: 8px solid white;
    right: 5px;
}

.grid-popup-triangle.left {
    border-right: 8px solid white;
    left: 298px;
}

.grid-popup-box {
    width: 100px;
    height: 200px;
    background: white;
    bottom: 130px;
    position: absolute;
    z-index: 500 !important;
}

.grid-popup-box.right {
    right: 5px;
}

.grid-popup-box.left {
    left: 298px;
} */